/* styles.css - Styles for web page, Version 1.0 */


body {
    background-color: #000;
    color: #000;
}
a:link {
    color: #0000ee;
    text-decoration: none;
}
a:visited {
    color: #90e;
}
a:hover {
    color: #ee0000;
    background-color: #000;
}
a:active {
    color: #228;
}
.footer {
    font-size: 10px;
    color: #222;
    text-align: center;
}
#content {
    width:850pt;
    z-index:1;
    background-image: url(FadedArea.png);
    padding: 20px;
    border: 0px solid #333;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#contenti {
    position:absolute;
    left:15%;
    top: 20px;
    width:70%;
    z-index:1;
    background-image: url(GRAPHICS/GCSRI_entry.jpg);
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.workshops {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(Workshops.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.feedback {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(FeedBack.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.crowdsourcing {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(CrowdSourcing.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.research {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(Research.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.projects {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(Projects.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.news {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(News.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.blog {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(Blog.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}



.outreach {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(Outreach.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.standard {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(StdBackGround.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.ccslri {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #000;
    background-image: url(CCSLRI.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

.bindex {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.pindex {
    text-align: right;
}

p {
    color: #000
    text-align: left;
}

a:form {
    color: #000;
}

h1 {font-size: 19pt;}
h2 {font-size: 19pt;}
h3 {font-size: 15pt;}
h4 {font-size: 13pt;}
h5 {font-size: 11pt;}
p  {font-size: 11pt;}
ul {font-size: 11pt;}
ol {font-size: 11pt;}
table {font-size: 11pt; border-collapse:collapse;}
table td{padding:5px;}

.eightpix {font-size: 8pt;}
.ninepix {font-size: 9pt;}

.twelvepix {font-size: 12pt;}
.fourteenpix {font-size: 14pt;}

.titlefont {font-size: 16pt;}

.progtime {background-color: #aaaaaa; color: #000000;}
.progitem {background-color: #bbbbbb; color: #000000;}
.progtimed {background-color: #cccccc; color: #000000;}
.progitemd {background-color: #aaaaaa; color: #000000;}
.progcomm {background-color: #888888; color: #000000;}
.textele {background-color: #ffffff; color: #000000;}
.bluebox {background-color: #2222ff; color: #ffffff;}
.redbox {background-color: #ff3333; color: #ffffff;}
.greenbox {background-color: #00ff00; color: #ffffff;}
.menuele {font-size: 9pt; color: #222222; valign=top; align=left;}
.smallele {font-size: 9pt; color: #000000; background-color: #cccccc; valign=top;}

